@media only screen and ( min-width: 769px ) {

    .RPSContainer {
        width: 45%;
        height: 350px;
        margin: 70px auto;
        border-radius: 15px;
        position: relative;
        box-sizing: content-box;
        animation-name: fadeIn;
        animation-timing-function: ease-in-out;
        animation-duration: .2s;
    }
    
    .RPSContainer__Bg {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: fill;
        top: 0;
        left: 0;
    }
    
    .ItemContainer {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        cursor: pointer;
    }
    
    .Rock {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: darkblue;
    }
    
    .Rock .ItemBorder {
        background-color: blue;
    }
    
    .Paper {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background-color: darkred;
    }
    
    .Paper .ItemBorder {
        background-color: red;
    }
    
    .Scissors {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: darkgoldenrod;
    }
    
    .Scissors .ItemBorder {
        background-color: yellow;
    }
    
    .ItemBorder {
        width: 100%;
        height: 95%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ItemInnerShadow {
        width: 80%;
        height: 80%;
        background-color: grey;
        border-radius: 100%;
        margin: auto auto;
        display: flex;
        align-items: flex-end;
    }
    
    .ItemInnerContainer {
        background-color: white;
        width: 100%;
        height: 97%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Item-Svg {
        width: 50%;
        height: 60%;
        transform: rotate(30deg);
        transition: all .2s ease-in-out;
    }

    .ItemContainer:hover .Item-Svg{
        transform: rotate(45deg);
    }

    .GameContainer {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
    }

    .Option {
        height: 100%;
        flex-grow: 1;
    }

    .OptionTitle {
        font-weight: 800;
        text-align: center;
    }
    
    .ItemContainerG {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        display: block;
        transform: translateY(50%);
        margin: auto;
    }

    .Option .Rock,
    .Option .Paper,
    .Option .Scissors {
        position: static;
    }

    .Versus {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 20px;
    }

    .ButtonAgain {
        padding: 15px 10px;
        font-weight: 800;
        color: #161F4A;
        border-radius: 15px;
        background-color: whitesmoke;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .ButtonAgain:hover {
        background-color: rgb(221, 221, 221);
    }

    .Hide {
        display: none;
    }
}

@media only screen and ( max-width: 768px ) {

    .RPSContainer {
        width: 60%;
        height: 250px;
        margin: 70px auto;
        border-radius: 15px;
        position: relative;
        box-sizing: content-box;
        animation-name: fadeIn;
        animation-timing-function: ease-in-out;
        animation-duration: .2s;
    }
    
    .RPSContainer__Bg {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: fill;
        top: 0;
        left: 0;
    }
    
    .ItemContainer {
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    
    .Rock {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: darkblue;
    }
    
    .Rock .ItemBorder {
        background-color: blue;
    }
    
    .Paper {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        background-color: darkred;
    }
    
    .Paper .ItemBorder {
        background-color: red;
    }
    
    .Scissors {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: darkgoldenrod;
    }
    
    .Scissors .ItemBorder {
        background-color: yellow;
    }
    
    .ItemBorder {
        width: 100%;
        height: 95%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ItemInnerShadow {
        width: 80%;
        height: 80%;
        background-color: grey;
        border-radius: 100%;
        margin: auto auto;
        display: flex;
        align-items: flex-end;
    }
    
    .ItemInnerContainer {
        background-color: white;
        width: 100%;
        height: 97%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Item-Svg {
        width: 50%;
        height: 60%;
        transform: rotate(30deg);
    }

    .GameContainer {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 10px;
    }

    .Option {
        height: 100%;
        flex-grow: 1;
    }

    .OptionTitle {
        font-weight: 800;
        text-align: center;
    }
    
    .ItemContainerG {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        display: block;
        transform: translateY(50%);
        margin: auto;
    }

    .Option .Rock,
    .Option .Paper,
    .Option .Scissors {
        position: static;
    }
    
    .ItemBorder {
        width: 100%;
        height: 95%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ItemInnerShadow {
        width: 80%;
        height: 80%;
        background-color: grey;
        border-radius: 100%;
        margin: auto auto;
        display: flex;
        align-items: flex-end;
    }
    
    .ItemInnerContainer {
        background-color: white;
        width: 100%;
        height: 97%;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Versus {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        gap: 20px;
        top: 100%;
        width: 100%;
        left: 0;
    }

    .ButtonAgain {
        padding: 15px 10px;
        font-weight: 800;
        color: #161F4A;
        border-radius: 15px;
        background-color: whitesmoke;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .ButtonAgain:hover {
        background-color: rgb(221, 221, 221);
    }

    .Full {
        width: 60%;
    }

    .Hide {
        display: none;
    }

}

.NoShow {
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}